/* .App {
  text-align: center;
} */

.App-nav {
  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 21px;
  padding: 0 1em;
}

#nav-logo > img, #nav-profile > img {
  max-height: 50px;
}

.App-nav > * {
  margin-right: 1em;
  color: white;
  text-decoration: none;
}

#nav-profile {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#nav-profile > img {
  border-radius: 50%;
  margin-left: 0.5em;
}

main {
  margin-top: 1em;
  padding: 0 1em;
}

.reviewsList-reviewBox{
  border: 1px solid gray;
  margin: 1em auto;
  display: flex;
}

#reviewsFilter {
  background: lightgray;
  border-radius: 5px;
  border: 1px solid gray;
}

.reviewBox {
  display: flex;
  margin: 1em auto;
}

.reviewsList-reviewBox > img, .reviewBox > img {
  max-width: 40%;
}

.reviewsList-category, .reviewCategory {
  border: 1px solid gray;
  border-radius: 8px;
  background: lightgray;
}

.reviewBody {
  border: 1px solid gray;
}

.commentBox {
  border: 1px solid gray;
  margin: 1em auto;
  text-align: left;
}